h1 {
    background: linear-gradient(to right, yellow, green, blue, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    line-height: 60px;
    padding: 10px;
}

h2 {
    background: linear-gradient(to right, red, blue, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    line-height: 60px;
    padding: 10px;
}

h4 {
    color: rgb(11, 159, 102);
}

p {
    color: grey;
}

body {
    background-image: url("../images/light-grey-terrazzo.png");
}